@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body{
    padding: 0px;
    margin: 0px;
    
}
.header{
    background-color:black;
}
.menu-section{
    display: flex;
    justify-content: space-between;
    color:white;
    height: 100px;
    align-items: center;
    width: 1200px;
    margin: auto;
    font-family: quicksand;
    
}
.logo{
    width: 20%;
    text-transform:uppercase;
    font-size: 22px;
    font-weight: 900;
   
}
.navbar{
    width: 60%;
}
.menu-items{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.menu-items li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;  
}
.hero-section{
    background:  url('./images/welcome-banner.jpg');
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hero-div{
    width: 500px;
    text-align: center;
}
.heading-div h1{
    color: white;
    font-size: 35px;
    font: 600;
    text-transform: uppercase;
}
.heading-div p{
    color: white;
    font-size: 15px;
    font: 400;
}
.button-div{
    display: inline-block;
    padding: 12px 18px;
    background-color: coral;
    color: white;
    font: 600;
    border-radius: 8px;
    cursor: pointer;
}
.button-div:hover{
    background-color: rgb(255, 77, 12);
    transition: 0.7s;
}