
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
*{
    padding: 0px;
    margin: 0px;
    
}
body{
    
    font-family:'quicksand';
}
.header{
    background-color:black;
}
.menu-section{
    display: flex;
    justify-content: space-between;
    color:white;
    height: 100px;
    align-items: center;
    width: 1200px;
    margin: auto;
    
}
.logo{
    width: 20%;
    text-transform:uppercase;
    font-size: 22px;
    font-weight: 900;
   
}
.navbar{
    width: 60%;
}
.menu-items{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.menu-items li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;  
}
.hero-section{
    background-image: linear-gradient(rgba(86, 81, 189, 0.418), rgba(4, 9, 30, 0.7)),
    url(./images/welcome-banner.jpg);
    height: 90vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hero-div{
    text-align: center;
}
.heading-div h1{
    color: white;
    font-size: 40px;
    font: 900;
    text-transform: uppercase;
}
.heading-div p{
    color: white;
    font-size: 22px;
    font: 500 ;
    margin: 30px auto;
    max-width: 550px;
}
.button-div{
    display: inline-block;
    padding: 15px 60px;
    background-color: rgb(35, 11, 247);
    color: white;
    font: 600;
    border-radius: 8px;
    cursor: pointer;
}
.button-div:hover{
    background-color: rgb(52, 58, 242);
    transition: 0.7s;
}