@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
body{
    padding: 0px;
    margin: 0px;
    
}
.header{
    background-color:black;
}
.menu-section{
    display: flex;
    justify-content: space-between;
    color:white;
    height: 100px;
    align-items: center;
    width: 1200px;
    margin: auto;
    font-family: quicksand;
    
}
.logo{
    width: 20%;
    text-transform:uppercase;
    font-size: 22px;
    font-weight: 900;
   
}
.navbar{
    width: 60%;
}
.menu-items{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.menu-items li a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    
}